/*--ClassCards--*/
.supporting .classes {
	padding-top: 5.3125rem;
}
.classcard {
	width: 25rem;
}
.supporting .classes .row:last-child {
	margin-bottom: 2.4rem;
}
.classcard h3 {
	font-size: 1.875rem;
	font-weight: bold;
	color: rgba(174,75,227,0.9);
	padding-bottom:1.125rem;
}
.classcard p:nth-child(2n):not(:last-child) {
	font-weight: bold;
	padding-bottom: 1.125rem;
}
.classcard p:last-child {
	font-size: .875rem;
	line-height: 1.7;
}
/*--./ClassCards--*/