/* FOOTER -------- */
.footer {
	background-image: url(../img/party-photo.png);
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
	width: 100%;
}
.footer .row {
	color:#ffffff;
}

.footer .media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(120, 73, 225, 0.45);
	height: 3.125rem;
	padding-left: 3.6875rem;
	padding-right: 3.4375rem;
	color:#ffffff;
}
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 9.375rem;
}
.footer .media a {
	color:#ffffff;
}
.footer .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	height: 15rem;
	color:#ffffff;
	font-size: .875rem;
	letter-spacing: 0.7px;
}

/* ./FOOTER -------- */