/* NAV -------- */

header {
	padding-left: 3.6875rem;
	background: #000000;
}

nav {
	height: 3.875rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* HomePage NavButton Icon */
nav .desktop.icon {
	height:3.875rem;
}
nav .mobile.icon {
	display: none;
}
/* ./HomePage NavButton Icon */

.main-nav a {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	padding-right: 3.4375rem;
}
.main-nav a:hover {
	color: #f5a623;
}

/* ./NAV -------- */