/* =================================
WEB FONTS
==================================== */

html {
	font-size: 16px;
}
body {
	font-family: 'Roboto', sans-serif;
	display: grid;
  grid-template-rows: auto;
	height: 100vh;
	margin: unset;
	padding: unset;
}

/* =================================
LAYOUT & PAGE STYLES
==================================== */
.container {
}
.row {
}

/* NAV -------- */

nav {
	background: #000000;
	height: 3.875rem;
	padding-left: 3.6875rem;
	padding-right: 3.4375rem;
	display: flex;
	flex-direction: row;
}

nav .desktop.icon {
	height:3.875rem;
}
nav .mobile.icon {
	display: none;
}
.nav li a {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
}
.main-nav a:hover,
.main-nav .active {
	color: #f5a623;
	background-color: #000000;
}

/* ./NAV -------- */

/* BANNER -------- */
/*--Banner Background image changer--*/

/*--./Banner Background image changer--*/

.home.banner.container {
	background-image: url(../img/dancers-photo.png);
	padding-bottom: 3.125rem;
	padding-top: 9.4375rem;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: padding-box;
	width: 100%;
}
.home.attention {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 45rem;
}
.home.attention h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: bold;
	color:#ffffff;
	line-height: 1;
	width: 45rem;
	text-align: center;
}
.home.attention p {
	padding-top: 2.6875rem;
	font-size: 1.5rem;
	line-height:1.5;
	color:#ffffff;
}

.home.button {
	margin-top:5rem;
	padding:1.25rem 3.125rem;
	border-radius: 2px;
	background-color: #f5a623;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.375rem;
	font-weight: bold;
}
.about.banner.container {
	background-image: url(../img/workout-photo.png);
	border-bottom: 10px solid #794ae2;
	background-position: left center;
	background-origin: padding-box;
	background-size: 50% 100%;
	padding-bottom: 10.625rem;
	padding-top: 9rem;
	background-repeat: no-repeat;
	width: 100%;
}
.about.attention {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 45rem;
}
.about.attention h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: bold;
	color:#794ae2;
	width: 45rem;
	text-align: left;
	/*padding-bottom: 4rem;*/
}
.about.attention p {
	padding-top: 2.6875rem;
	font-size: 1.5rem;
	line-height:1.5;
	color:#666666;
	text-align: center;
}
.classes.banner.container {
	background-image: url(../img/classes-photo.png);
	border-bottom: 10px solid #794ae2;
	background-position: left center;
	background-origin: padding-box;
	background-size: 50% 100%;
	padding-bottom: 10.625rem;
	padding-top: 9rem;
	background-repeat: no-repeat;
	width: 100%;
}
.classes.attention {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 45rem;
}
.classes.attention h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: bold;
	color:#794ae2;
	width: 45rem;
	text-align: left;
	/*padding-bottom: 4rem;*/
}
.classes.attention p {
	padding-top: 2.6875rem;
	font-size: 1.5rem;
	line-height:1.5;
	color:#666666;
	text-align: center;
}
.faculty.banner.container {
	background-image: url(../img/faculty-photo.png);
	border-bottom: 10px solid #8a54ff;
	background-position: left center;
	background-origin: padding-box;
	padding-bottom: 10.625rem;
	padding-top: 9rem;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: padding-box;
	width: 100%;
}
.faculty.attention {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 45rem;
}
.faculty.attention h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.125rem;
	font-weight: bold;
	color:#794ae2;
	width: 45rem;
	text-align: center;
	/*padding-bottom: 4rem;*/
}
.faculty.attention p {
	padding-top: 2.6875rem;
	font-size: 1.5rem;
	line-height:1.5;
	color:#999999;
	text-align: center;
}
/* ./BANNER -------- */


/* SUPPORTING -------- */
.supporting.container {
	width: 100%;
}
.supporting.container .faculty {
	padding: 5.625rem 7.5rem 5rem 7.5rem;
}
.faculty .row {
	margin-bottom: 6.25rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*--Panels--*/
.panel.row {
	height: 31.25rem;
	width: 100%;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	color: #ffffff;
	margin: unset;
	border: unset;
}
.panel.info {
	width: 25rem;
	height:20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 5rem 3rem;
	margin:unset;
	border:unset;
}
.panel.info>h3 {
	font-size: 2.25rem;
	font-weight:bold;
	line-height:1.2;
	/*padding-bottom:1.25rem;*/
}
.panel.info>p {
	font-size: 1.125rem;
	line-height:1.4;
	/*padding-bottom:1.25rem;*/
}
.panel.info>a {
	font-weight:bold;
}
/*--./Panels--*/

/*--Profiles--*/
.profilecard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:16.875rem;
	text-align: center;
}
.profilecard h3 {
	font-size: 1.875rem;
	font-weight: bold;
	color: #8a54ff;
	padding-bottom: .625rem;
}
.profilecard > p:first-of-type {
	font-weight:bold;
	padding-bottom: .625rem;
	font-size: 1.125rem;
}
.profilecard > p:nth-of-type(2) {
	line-height: 1.5;
}
/*--./Profiles--*/

.supporting .about .infobar.row {
	margin: 4rem 19%;
}

/*--InfoBars--*/
.about .infobar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.about .row img {
	height: 9.375rem;
	margin: 5rem;
}
.about .row .description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.about .row .description h3 {
	font-size:2.25rem;
	font-weight: bold;
	color:#794ae2;
}
.about .row .description p {
	font-size: 1.5rem;
	line-height: 1.5;
	color: #666666;
}
/*--./InfoBars--*/

/*--ClassCards--*/
.supporting .classes {
	padding-top: 5.3125rem;
}
.classcard {
	width: 25rem;
}
.supporting .classes .row:last-child {
	margin-bottom: 2.4rem;
}
.classcard h3 {
	font-size: 1.875rem;
	font-weight: bold;
	color: rgba(174,75,227,0.9);
	padding-bottom:1.125rem;
}
.classcard p:nth-child(2n):not(:last-child) {
	font-weight: bold;
	padding-bottom: 1.125rem;
}
.classcard p:last-child {
	font-size: .875rem;
	line-height: 1.7;
}
/*--./ClassCards--*/

/* ./SUPPORTING -------- */


/* FOOTER -------- */
.footer {
	background-image: url(../img/party-photo.png);
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
	width: 100%;
}
.footer .row {
	color:#ffffff;
}

.footer .media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(120, 73, 225, 0.45);
	height: 3.125rem;
	padding-left: 3.6875rem;
	padding-right: 3.4375rem;
	color:#ffffff;
}
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 9.375rem;
}
.footer .media a {
	color:#ffffff;
}
.footer .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	height: 15rem;
	color:#ffffff;
	font-size: .875rem;
	letter-spacing: 0.7px;
}

/* ./FOOTER -------- */
