/* =================================
WEB FONTS
==================================== */

html {
	font-size: 16px;
}
body {
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		"h"
		"b"
		"s"
		"f";
	height: 100vh;
	margin: unset;
	padding: unset;
}

/* SUPPORTING -------- */
/* .supporting.container {
	width: 100%;
}
.supporting.container .faculty {
	padding: 5.625rem 7.5rem 5rem 7.5rem;
}
.faculty .row {
	margin-bottom: 6.25rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.supporting .about .infobar.row {
	margin: 4rem 19%;
} */

/* ./SUPPORTING -------- */