/*** banner_desktop ***/

@media only screen and (min-width: 768px) {
	.banner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			"b i"
	}
}
/*** ./banner_desktop ***/